

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Header {
  min-height: 10vh;
  flex-direction: column;
  font-size: calc(30px + 2vmin);
  color: white;
  font-weight: 200;
}

.base {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Source Code Pro', monospace;
  padding: 0 3vh 0 3vh;
  width:100%;
}

html{
  scroll-behavior: smooth;
}

:target:before {
  content: "";
  display: block;
  height: 150px;
  margin: -100px 0 0;
}

.NavScroll{
  background-color: #282c34 !important;
  z-index: 1 !important;
  position: sticky;
  top: 0px;
}

.Navi {
  min-height: 5vh;
  font-weight: 300;
}


li {
  font-size: calc(4px + 1.5vw);
  margin: 0 5px 0 5px;
}

a, button{
  color: #b6efff;
}

@media all and (min-width: 600px){
  
  .Header{
    font-size: calc(40px + 2vw);
  }

  li {
    font-size: calc(2px + 1vw);
    margin: 0 10px 0 10px;
  }

}