.bioPgraph {
    display: inline-block;
    font-family: 'Source Code Pro', monospace;
    
}

.bioDiv {
    padding: 15vh 0 15vh 0;
    background: rgba(0, 0, 0, 0.432);
}

.bioLink {
    white-space:"nowrap";
    display: inline-block;
}