.contactsDiv {
  padding: 10vh 0 10vh 0;
  font-family: "Source Code Pro", monospace;
}

.contactsUl {
  justify-content: center;
}

.contactsH3Div {
  box-sizing: border-box;
}

.contactsH3Div > h3 {
  font-size: 1em;
}

@media all and (min-width: 840px) {
  .contactsH3Div > h3 {
    font-size: 1.5em;
  }
}
